aiohappyeyeballs
aiohttp
aiosignal
annotated-types
async-timeout
attrs
build
cffi
click
colorama
contourpy
cycler
discord.py
fonttools
frozenlist
idna
kiwisolver
multidict
numpy
packaging
pip-tools
propcache
pycparser
pydantic
pydantic-settings
pydantic_core
PyNaCl
pyparsing
pyproject_hooks
python-dateutil
scipy
six
typing-inspection
typing_extensions
tzdata
wavelink
yarl
