aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
async-timeout
attrs
build
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
discord.py
fonttools
frozenlist
greenlet
idna
kiwisolver
Mako
MarkupSafe
multidict
numpy
packaging
pillow
pip-tools
propcache
pycparser
pydantic
pydantic-settings
pydantic_core
pydealer
PyNaCl
pyparsing
pyproject_hooks
python-dateutil
python-dotenv
requests
scipy
six
typing-inspection
typing_extensions
tzdata
urllib3
wavelink
yarl
